<!doctype html>
<html>

<head>
  <title>{ title }</title>
  <!--MaterializeCSS stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!--Google Material Design Iconset -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--NProgress page loader CSS -->
  <link href="stylesheets/nprogress.css" rel="stylesheet">
  <!--Custom styles -->
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body class="grey lighten-3">
  <!--Navbar static -->
  <div class="navbar-fixed">
    <nav class="white">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo pink-text">&nbsp;Weather Forecast</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons pink-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="pink-text" href="#modal1">About</a></li>
        </ul>
        <ul class="side-nav pink-text" id="mobile-demo">
          <li><a class="pink-text" href="#modal1">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--Main grid row -->
  <div class="row">
    <div class="col s12 l6">
      <!--card 1-->
      <div class="card white">
        <div class="card-content pink-text">
          <span id="mtemp" class="card-title">
            <div class="chip pink lighten-5 pink-text">London City<i class="material-icons left">location_on</i>
              </div></span>
          <p class="pink-text text-lighten-3">Min & Max Temperature for the next 7 days</p>
          <!--canvas to draw chart 1-->
          <canvas id="minmax"></canvas>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <!--card 2-->
      <div class="card white">
        <div class="card-content pink-text">
          <span id="dtemp" class="card-title"><div class="chip pink lighten-5 pink-text">London City
          <i class="material-icons left">location_on</i></div></span>
          <p class="pink-text text-lighten-3"> Day & Night Temperature for the next 7 days</p>
          <!--canvas to draw chart 2-->
          <canvas id="daynight"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>About !</h4>
      <p>A Simple dashboard demo to display weather data of London City.</p>
      <p>UI Framework : MaterializeCSS<br> API: Openweathermaps<br> Charting library: ChartJS<br> Chart annotations: ChartJS-Annotations Plugin<br> Trendline Calculation: Linear Regression JS plugin
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat pink-text">Ok</a>
    </div>
  </div>

  <!-- JS Files -->
  <!--NProgress library -->
  <script src="javascripts/nprogress.js"></script>
  <!--NProgress init -->
  <script>
    NProgress.start(); //start on page load
    window.onload = function() {
      NProgress.done(); //stop on loaded state
    };
  </script>
  <!--jQquery cdn -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--Materialize library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.js"></script>
  <!--ChartJS library-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
  <!--ChartJS Annotations plugin -->
  <script src="javascripts/chartjs-annotation.js"></script>
  <!--Regression analysis plugin -->
  <script src="javascripts/regression.js"></script>
  <!--custom function to do regression -->
  <script src="javascripts/function.js"></script>
  <!--temp min-max -->
  <script src="javascripts/minmax.js"></script>
  <!--temp day-night -->
  <script src="javascripts/daynight.js"></script>
  <!--Materialize init -->
  <script>
    $(document).ready(function() {
      $(".button-collapse").sideNav(); //sidenav init
      $('.modal').modal(); //modal init
    });
  </script>
</body>

</html>
